@media(max-width: 990px) {
	.menu-bar {
		cursor: pointer;
		font-size: 25px;
		color: var(--yellow);
	}
	nav {
		position: absolute;
		top: 55px;
		left: -1000%;
		transition: .7s;
		background-color: #333;
		display: flex;
		flex-flow: column;
		width: 100%;
		padding: 20px;
		overflow-y: auto;
	}
	nav.on {
		left: 0!important;
	}
	nav .menu-item {
		display: block;
		width: 100%;
		padding: 0!important;
	}
	nav .menu-item .menu-link {
		width: 100%;
		display: block;
		padding: 10px;
		margin: 3px 0;
		border-radius: 5px;
	}
	nav .menu-item .menu-link:hover {
		background-color: rgba(255,255,255,.3);
		color: #fff;
	}
	nav .menu-item .menu-link.active {
		background-color: rgba(255,255,255,.2);
		color: rgba(255, 28, 73,1);
	}
	nav form {
		position: relative;
		display: block!important;
	}
	nav form button {
		border: none;
		width: 35px;
		height: 35px;
		text-align: center;
		line-height: 35px;
		color: #444;
		background-color: #eee;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	nav form button:hover {
		background-color: var(--yellow);
		color: #fff;
	}
	nav form input {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #fff;
		width: 100%;
		display: block;
		padding: 10px 5px;
		color: #fff;
	}
	nav form input:focus {
		color: var(--yellow);
		border-color: var(--yellow);
	}
	nav .container {
	    margin-left: auto;
	    margin-right: auto;
    	padding: 0 15px;
	}
}
@media (max-width: 768px) {
	
}